<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit Unit</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to 'Cancel', cooperative_unit_path(@cooperative, @unit), class: "btn btn-warning btn_cancel_item" %>
  </div>
</div>