<h1><%= @unit.name %></h1>
<p>
  <%= link_to 'Edit', edit_cooperative_unit_path(@cooperative, @unit), class: "btn btn-primary", role: "button" %>
  <%= link_to 'Back to Cooperative', @unit.cooperative, class: "btn btn-warning", role: "button" %>
</p>