<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Cooperative</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to 'Cancel', cooperatives_path, class: "btn btn-warning btn_cancel_item" %>
  </div>
</div>